*{
    margin:0px;
    padding: 0px;
    border: none;
    font-family: 'Roboto', sans-serif;
    border-spacing: 0px;
    text-decoration: none;
}
body{
    background-color: #CDE4F5;
}
h3{
    margin:5px auto;
}
a{
    color:#707070;
}
.header{
    display: flex;
    color: whitesmoke;
    align-items: center;
    width: calc(100vw - 40px);
    border:1px solid gray;
    border-radius: 8px;
    background-color: #9CC4E0;
    margin: 25px auto;
    justify-content: space-between;
}
.header a{
    color: whitesmoke;
    padding-right: 10px;
}

h1{
    padding-left: 10px;
}
.content-container{
    display: flex;
    justify-content: space-around;
    height:90vh;
}
.events{
    width: 20vw;
    background-color: #E4F1FB;
    display: flex;
    flex-direction: column;
}
.homework{
    width: 40vw;
    background-color: #E4F1FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.chat{
    width: 20vw;
    background-color: #E4F1FB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.message{
    display: flex;
    flex-direction: column;
    width:98%;
    background-color: #E5F6F5;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 5px;
    border:1px solid lightgray;
}
.message a{
    font-size:18px;
    text-align: center;
}
.message p{
    font-size: 15px;
    padding-left: 5px;
    padding-bottom: 2px;
}
.main{
    width: 100%;
    border-spacing: 0px;
}
.main td{
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
.input_container{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-top: 10px;
    align-items: center;
}
.input_container textarea{
    font-size: 25px;
    border-radius: 5px;

}
.input_container button{
    width: 40%;
    height: 50%;
    font-size: 25px;
    background-color: white;
}

.event_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.event_container p{
    margin-top: 5px;
}

@media all and (max-width: 800px){
    .content-container{
        flex-direction: column;
    }
    .events{
        width: 100vw;
        font-size: 10px;
        border-bottom: 20px;
    }
    .chat{
        width: 100vw;
        font-size: 10px;
        border-bottom: 20px;
    }
    .homework{
        width: 100vw;
        font-size: 10px;
        border-bottom: 20px;
    }
    .event_container{
        font-size: 10px;
    }
}