<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <select name="" id="" style='width:30em'>
        <option value="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, in! Aspernatur eos illum, doloribus autem a veritatis quod quo, assumenda labore fugit natus delectus quaerat, exercitationem suscipit perferendis! Sit, beatae!</option>
        <option value="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, in! Aspernatur eos illum, doloribus autem a veritatis quod quo, assumenda labore fugit natus delectus quaerat, exercitationem suscipit perferendis! Sit, beatae!</option>
        <option value="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, in! Aspernatur eos illum, doloribus autem a veritatis quod quo, assumenda labore fugit natus delectus quaerat, exercitationem suscipit perferendis! Sit, beatae!</option>
        <option value="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, in! Aspernatur eos illum, doloribus autem a veritatis quod quo, assumenda labore fugit natus delectus quaerat, exercitationem suscipit perferendis! Sit, beatae!</option>
        <option value="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, in! Aspernatur eos illum, doloribus autem a veritatis quod quo, assumenda labore fugit natus delectus quaerat, exercitationem suscipit perferendis! Sit, beatae!</option>
        <option value="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, in! Aspernatur eos illum, doloribus autem a veritatis quod quo, assumenda labore fugit natus delectus quaerat, exercitationem suscipit perferendis! Sit, beatae!</option>
        <option value="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, in! Aspernatur eos illum, doloribus autem a veritatis quod quo, assumenda labore fugit natus delectus quaerat, exercitationem suscipit perferendis! Sit, beatae!</option>
        <option value="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, in! Aspernatur eos illum, doloribus autem a veritatis quod quo, assumenda labore fugit natus delectus quaerat, exercitationem suscipit perferendis! Sit, beatae!</option>
        <option value="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, in! Aspernatur eos illum, doloribus autem a veritatis quod quo, assumenda labore fugit natus delectus quaerat, exercitationem suscipit perferendis! Sit, beatae!</option>
        <option value="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, in! Aspernatur eos illum, doloribus autem a veritatis quod quo, assumenda labore fugit natus delectus quaerat, exercitationem suscipit perferendis! Sit, beatae!</option>
    </select>
    
</body>
</html>