<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Вход</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
<h1 class="header"><a href="{{ url_for('main') }}">GUM_102</a></h1>
	<div class="form_container">
		<p id='reg'>Вход</p>
		<form action="/login" method="post" class="register_form">
			<p>Логин</p>
			<input type="text" name="login">
			<p>Пароль</p>
			<input type="password" name="password">
			<button type="submit">Вход</button>
		</form>
		<a href="{{ url_for('register') }}" id='login_link'>Еще нет аккаунта? Регистрация</a>
		<p class="message_form">{{ flag }}</p>
	</div>
</body>
</html>